<div class="alert alert-success">
    Réservation annulée avec succès !<br />
</div>

<script>

    // On modifie le bouton fermer du modal pour qu'il redirige vers l'acceuil
    $("#BsModalCloseBtn").click(function(){
        window.location.replace("/Reservation/UserReservationOverView");
    });

</script>

